<% unless @articles.empty? %>
<ul>
    <% @articles.each do |article| %>
    <li>
        <ul>
            <li>
                <%= article.headline_english %>
            </li>
            <li>
                <%= link_to(image_tag(article.screen_capture), article) %>
            </li>
        </ul>
    </li>
    <% end %>
</ul>
<% else  %>
<h3>No results found for people!!! </h3>
<% end %>




