<h2>New Book</h2>
<form action="/books" method="post">
  <p><input type="text" name="title" placeholder="Title of Book"></p>
  <p><input type="text" name="author" placeholder="Author Name"></p>
  <p><input type="text" name="booktype" placeholder="fiction or non_fiction"></p>
   <p><input type="text" name="name" placeholder="Your Name"></p>
   <p><input type="url" name="image" placeholder="Image URL"></p>
     <p><input type="url" name="link" placeholder="Shopping URL"></p>

  <input type="submit" class="styled-button-5" value="Create book">
</form>





