@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);


body {
	background: white url("http://images2.alphacoders.com/261/26102.jpg") no-repeat fixed center;
 	color: #988561;
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}



img {
  max-width: 70%;
  height: auto; }




.container {
	max-width:960px;
	margin: auto;	
}

nav {
	text-align: right;
	color: #988561;
}

a {
	color :white;
}

.feature  {
display: inline-table;
  width: 200px;
  
/*  margin: 1em;*/
  max-width: 70%;
  height: auto;
      padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
}

.info {
display: inline-box;	
color: #988561;
}

.list {
color: #988561;
}


.styled-button-5 {
	background-color:#ed8223;
	color:#988561;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	line-height:24px; 
	border-radius:16px;
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	border:0;
	text-shadow:#C17C3A 0 -1px 0;
	width:96px;
	height:26px
}                

/*120
32
*/

/*
a:hover {
  cursor: pointer; }*/

