<% unless @organisations.empty? %>
<ul>
    <% @organisations.each do |organisation| %>
    <li>
        <ul>
            <li>
                <%= organisation.name %>
            </li>
            <li>
                <%= link_to(image_tag(organisation.image), organisation) %>
            </li>
        </ul>
    </li>
    <% end %>
</ul>
<% else  %>
<h3>No results found for organisations!!! </h3>
<% end %>




