body {
	background color: white;
	color: black;
	text-align: center;
	font-size: 20px;
	max-width: 420 px;
}


nav {
	text-align: right;
}

a {
	color: black;
}
/*
.moviePoster {
	display: block;
	margin-left: auto;
    margin-right: auto;
       padding-top: 25px;
    padding-right: 25x;
    padding-bottom: 25px;
    padding-left: 25px; 

}*/

.movieTitle {
   margin-left: auto;
    margin-right: auto;
    font-size: 30px;
 /*   width: 6em*/

}

.moveInfo {
	  margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

/*.copy {
	text-align: left;
	background-color: white;
	color: black;
	padding: 2em;
	border-radius: 0.5em;
	box-shadow: 2px 2px 10px black;
}*/
