<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MOVIE GENERATOR</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
 <div class="container">
  <nav>
     <a href="/">Home</a>

    </nav>

	<h1>MOVIE INFORMATION GENERATOR</h1>

	<%=yield %>

</body>
</html>
